@import url('../assets/googlefont/Noto_Sans_KR/static/NotoSansKR-Medium.ttf');
@import url('animation.css');
/* row-percent : 가로 ,col 새로 ---------------------------------------------------------------------------------*/
.col-percent-4{width:4%;}.col-percent-5{ width: 5%;}.col-percent-10{ width: 10%;}
.col-percent-15{ width: 15%;}.col-percent-20{ width: 20%;}
.col-percent-25{ width: 25%;}.col-percent-30{ width: 30%;}
.col-percent-35{ width: 35%;}.col-percent-40{ width: 40%;}
.col-percent-45{ width: 45%;}.col-percent-50{ width: 50%;}
.col-percent-55{ width: 55%;}.col-percent-60{ width: 60%;}
.col-percent-65{ width: 65%;}.col-percent-70{ width: 70%;}
.col-percent-75{ width: 75%;}.col-percent-80{ width: 80%;}
.col-percent-85{ width: 85%;}.col-percent-90{ width: 90%;}
.col-percent-95{ width: 95%;}.col-percent-100{ width: 100%;}

.col-px-5{ width: 5px;}.col-px-10{ width: 10px;}
.col-px-15{ width: 15px;}.col-px-20{ width: 20px;}
.col-px-25{ width: 25px;}.col-px-30{ width: 30px;}
.col-px-35{ width: 35px;}.col-px-40{ width: 40px;}
.col-px-45{ width: 45px;}.col-px-50{ width: 50px;}
.col-px-55{ width: 55px;}.col-px-60{ width: 60px;}
.col-px-65{ width: 65px;}.col-px-70{ width: 70px;}
.col-px-75{ width: 75px;}.col-px-80{ width: 80px;}
.col-px-85{ width: 85px;}.col-px-90{ width: 90px;}
.col-px-95{ width: 95px;}.col-px-100{ width: 100px;}

.row-px-5 { height: 5px;} .row-px-10{ height: 10px;}
.row-px-15{ height: 15px;}.row-px-20{ height: 20px;}
.row-px-25{ height: 25px;}.row-px-30{ height: 30px;}
.row-px-35{ height: 35px;}.row-px-40{ height: 40px;}
.row-px-45{ height: 45px;}.row-px-50{ height: 50px;}
.row-px-55{ height: 55px;}.row-px-60{ height: 60px;}
.row-px-65{ height: 65px;}.row-px-70{ height: 70px;}
.row-px-75{ height: 75px;}.row-px-80{ height: 80px;}
.row-px-85{ height: 85px;}.row-px-90{ height: 90px;}
.row-px-95{ height: 95px;}.row-px-100{height: 100px;}
.row-px-200{height: 200px;}.row-px-300{height: 300px;}
.row-px-400{height: 400px;}.row-px-500{height: 500px;}
.row-px-600{height: 600px;}.row-px-700{height: 700px;}
.row-px-800{height: 800px;}.row-px-900{height: 900px;}

.row-percent-5 { height: 5%;} .row-percent-10{ height: 10%;}
.row-percent-15{ height: 15%;}.row-percent-20{ height: 20%;}
.row-percent-25{ height: 25%;}.row-percent-30{ height: 30%;}
.row-percent-35{ height: 35%;}.row-percent-40{ height: 40%;}
.row-percent-45{ height: 45%;}.row-percent-50{ height: 50%;}
.row-percent-55{ height: 55%;}.row-percent-60{ height: 60%;}
.row-percent-65{ height: 65%;}.row-percent-70{ height: 70%;}
.row-percent-75{ height: 75%;}.row-percent-80{ height: 80%;}
.row-percent-85{ height: 85%;}.row-percent-90{ height: 90%;}
.row-percent-95{ height: 95%;}.row-percent-100{height: 100%;}
/* row-percent : 가로 ,col 새로 ---------------------------------------------------------------------------------*/

/* 기본 css ---------------------------------------------------------------------------------*/
.word-break-keep-all{
    word-break: keep-all;
}
.cursor-pointer{
    cursor: pointer;
}
.hidden{
    display: none !important;
    width: 0%;
}
*{ margin: 0px;padding: 0px;}
.display-block{
    display: block;
}
.display-flex{
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
}
ul{
    list-style: none;
}
#world_body{
    width: 100vw;
    height: 100vh;
    align-items: center;
}
.float-right{
    float: right;
}
.float-left{
    float:left;
}
.text_align-center{
    text-align: center;
}
.justify-items-center{
    justify-items: center;
}
.justift-content-flex-end{
    justify-content: flex-end;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-flex-end{
    justify-content: flex-end;
}
.justify-content-space-between{
    justify-content: space-between;
}
.flex-direction-column{
    flex-direction: column;
}
.align-items-center{
    align-items: center;
}
.border{
    border:1px solid;
}
a{
	text-decoration:none;
	color:#000000;
}
.align-items-center{
    align-items: center;
}
.margin-top-10percent{
	margin-top:10%;
}
.margin-top-10px{
	margin-top:10px;
}
/* 기본 css ---------------------------------------------------------------------------------*/

/* 로그인 페이지 */
.login_box-section{ 
    width: 100%;    
    height: 600px;    
    align-items: center;
    justify-content:center;
}
.login_box{ 
    width: 500px;    
    height: 90%;
    align-items:center;
    justify-content: center;
    border: 2px solid #ffffff;
    border-radius:40px;
}
.login_box-layer{
    width: 90%;    
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.user_box{
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: left;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-bottom: 1px solid #efefef;
}
.span_box{
    width: 30%;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
.span_box > span{
    font-size: 15px;
}

.user_box-title{
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.user_box-loginButton-box{
    align-items: center;
    justify-content: center;
}
.loginButton-box-fram{
    border: 1px solid #999;
    border-radius: 5px;
    position: relative;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    justify-content: space-around;
    z-index: 1;
}
.login_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    text-align: center;
    border-radius: 50%;
    color: #999;
}
#login_id{
    border: unset;
}
#login_id:focus-visible{
   outline: unset;
}
#icon-sign_in-button{
    font-size: 26px;
    color: #999;
    border: unset;
    background: unset;
    cursor: pointer;
}

.login_span{
    font-size: 12px;
    color: #999;
    display: block;
    width: 100%;
    margin-top: 0px;
    transition-duration: 0.3s;
    cursor: pointer;
}
.messageBox_layer{
    content: "";
    position: absolute;
    margin: 5px;
    right: 0px;
    bottom: 0%;
    width: 300px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(177, 0, 0 ,0.8);
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #0000006e;
    z-index: 1;
    opacity: 0; 
    transition: opacity 1s; 
}
.messageBox_layer > .messageBox > .title , .messageBox_layer > .messageBox > .message{
    color: #fff;
    padding: 5px;
    text-shadow: 1px 1px 2px #fff;
}
.messageBox_layer.show {
    opacity: 1; 
}
#LOGIN_FORM{
    width:130px;
}
/* 로그인 페이지 ---------------------------------------------------------------------------------*/

/* 메인 페이지 ---------------------------------------------------------------------------------*/
.world_top{
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: #d6d6d613;
    background-blend-mode: color;
    backdrop-filter: blur(3px);
    justify-content: center;
}

.world_footer{
    background-color: #f0f0f0;
    padding: 5px;
    align-items: center;
}
.footer-logo{
    height: 100px;
}
.world_footer > div{
    margin-right: 20px;
}
.section_body{
    /* height: 80vh; */
    /* height: 1800px; */
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}
.logo{
    align-items: center;
    justify-content: center;
}
.memu_info{
    justify-content: center;
}
.menu_info_box{
    align-items: center;
    justify-content: space-around;
}
.menu_info_box > li{
    margin: 5px;
    list-style: none;
    text-decoration: none;
}
.user_info{
    display: flex;
    flex-direction: row-reverse;
}
.user_info_box{
    align-items: center;
}
.user_nm{
    margin: 10px;
    box-sizing: border-box;
}
.user_info_box-sub{
    display: none;
    position: absolute;
    top: 50px;
    width: 130px;
    background-color: rgb(166, 166, 166);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    flex-direction: column;
    padding:20px;
    box-sizing:border-box;
    box-shadow: 1px 1px 10px#000000;
}
.user_info_box-sub::before{
    content: "\25B2";
    position: absolute;
    display: block;
    top:-13px;
    left: 88px;
    color: rgb(166, 166, 166);
    transform: rotate(0deg);   
    text-shadow: 0px -3px 3px #00000076;
    box-shadow: none;
}
.my_info{
    color: #fff;
    text-shadow: 0px 2px 1px #000000;
    height: 30px;
    align-items: center;
}
.bar_box{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    transition: all 0.2s;
    
}
.bar_01 ,.bar_02,.bar_03{
    width: 30px;
    height: 5px;
    background-color: #000000;
    position: absolute;
}
.bar_01{
    top: calc(50% - 15px);
    transition: all 0.2s cubic-bezier(0.8, 0, 0.3, 1.5);
}
.bar_02{
    top: calc(50% - 5px);
    transition: all 0.2s cubic-bezier(0.8, 0, 0.3, 1.5);
}
.bar_03{
    top: calc(50% - -5px);
    transition: all 0.2s cubic-bezier(0.8, 0, 0.3, 1.5);
}
#clock{
    margin: 10px;
}
.vibration{
	animation: vibration .1s infinite;
}
@keyframes vibration {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}
/* 메인 페이지 ---------------------------------------------------------------------------------*/
/* 달력 calender---------------------------------------------------------------------------------*/
#mebx_calender{
    box-sizing: border-box;
    padding:10px;
    box-shadow: 0px 0px 10px #9996;
    text-shadow: 0px 1px 1px #0000009c;
}
.mebx_calender-top{
    margin: 10px 0px;
    height:calc(10% - 10px);
}
.mebx_calender-week{
    margin: 10px 0px;
    height: calc(10% - 10px);
}
.mebx_calender-weekly{
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: calc(80% - 20px);
    justify-content: center;
    align-items: center;
    align-content: center;
}
.mebx_calender-weekly_date-layer{
    width: calc(14.2857% - 2px);
    height: 16%;
}
.mebx_calender-weekly_date{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border: 1px solid #f0f0f0;
    padding: 3px;
    box-sizing: border-box;
    flex-direction: column;
    overflow: auto;
    cursor: pointer;
}
.mebx_calender-week_content{
    width: calc(14.2857% - 2px);
    display: flex;
    /* align-items: center;
    justify-content: center; */
    align-items: end;
    justify-content: end;
}
#Mebx_Calender{
    padding:10px;
    box-sizing: border-box;
}
.mebx_calender-weekly_pre_date , .mebx_calender-weekly_next_date{
    color:#f0f0f0 !important;
    text-shadow: 0px 1px 1px #7c7c7c9c ;
}
#mebx_calender-weekly_box > .mebx_calender-weekly_date-layer:nth-child(7n) >.mebx_calender-weekly_date > .mebx_day{
    color:red;
}
.mebx_calender-pre,.mebx_calender-next{
    font-weight: 700;
    justify-content: center;
    align-items: center;
    color: #000000;
}
.mebx_calender-pre:hover,.mebx_calender-next:hover{
    color:#fff;
}
.mebx_calender-pre:hover > i ,.mebx_calender-next:hover > i{
    transform: rotate(360deg);
    transition: all 0.6s cubic-bezier(0.8, 0, 0.3, 1.5);
}
.mebx_calrender-YEAR , .mebx_calrender-MONTH{
    font-size: 17px;
    font-weight: bold;
    margin: 0px 10px;
}
.mebx-day_schedule{
    font-size: 11px;   
    width: 100%;
    background: #7ea8f9;
    color: #fff;
    flex-direction: column;
}
.mebx-day_schedule >div> i {
    font-size: 5px;
    margin-right: 3px;
}
.mebx_schedule_detail{
    position: relative;
    top: -140px;
    left: 111%;
    width: 300px;
    height: 220px;
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px #0000005e;
}
.mebx_schedule_detail::before{
    content: "\25B2";
    position: absolute;
    display: block;
    top: 85px;
    left: -11px;
    color: rgb(255 255 255);
    transform: rotate(270deg);
    text-shadow: 0px -3px 3px #0000005e;
    box-shadow: none;
}
.mebx_schedule_detail-title_box{
    height: 100%;
    padding:20px;
    box-sizing: border-box;
    flex-direction:column;
}
.mebx_schedule_detail-cancel_button{
    position: absolute;
    display: flex;
    right: 0px;
    top: -7px;
    color: #7f7f7f;
    background: #cfcfcf;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px #000000b0;
    cursor:pointer;
}
.mebx_schedule_detail-cancel_button:hover{
    color: #fff;
    background: #bdbdbd;
}
.mebx_schedule_detail-cancel_button:hover > i{
    transition : all 0.2s cubic-bezier(0.680, -0.550, 0.000, 0.1);
    transform: rotate(360deg);
}
.mebx_schedule_detail-title{
    width: 80%;
    border: none;
    outline: none;
}
.mebx_schedule_detail-start_time , .mebx_schedule_detail-end_time{
    border: none;
    outline: none;
}
.mebx_schedule_detail-color_selector option:checked {
    background-color: var(--value);
}
.color-preview {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-color: var(--value);
}

/* 달력 ---------------------------------------------------------------------------------*/
/* 포트폴리오 -----------------------------------------------------------------------------*/
.pf-skills{
    box-shadow: 0px 8px 8px #0000003b;
    box-sizing: border-box;
    padding: 25px;
    text-shadow: 2px 2px 2px #00000052;
    border-radius: 5px;
    position:relative;
}
.pf-skills{
    background:linear-gradient(344deg, rgb(209, 209, 209), rgb(168, 168, 168) 40%, white 40%, white);
}
.pf-wep{
    box-shadow: 0px 8px 8px #0000003b;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 5px;
    position:relative;
} 
.pf-wep-title , .pf-wep-box-title{
	text-shadow: 2px 2px 2px #00000052;
}
.pf-title{
    align-items: center;
    margin: 10% 0;
    text-shadow: 2px 2px 2px #00000052;
}
.pf-title > p{
	font-size:5rem;
}
.pf-title-content > p{
    font-size: 2rem;
    text-align: center;
}
.pf-title-content{
    margin: 10% 0;
}
.pf-skills-box{
    justify-content: space-evenly;
}
.pf-skills-title , .pf-wep-title{
    font-weight: bold;
    font-size: 2rem;
}
.pf-skills-subtitle{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}
.pf-skills-content-box , .pf-wep-box{
    text-align: center;
    box-shadow: 2px 3px 5px #0000003b;
    border-radius: 5px;
    background: #fff;
    box-sizing: border-box;
    padding: 25px;
}
.pf-skills-content{
    font-size: 1.4rem;
}
.pf-wep-box{
    background-color: #fff;
    text-align: left;
}
.pf-wep-box-title{
    text-align: left;
    font-size: 1.5rem;
}
.pf-wep-box-layer{
    margin: 15px;
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.pf-wep-box-contentlayer{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.pf-content-title{
    margin:45px 0px;
}
.pf-common-content{
    margin: 30px 0;
    min-width: 90%;
}


/* 포트폴리오 -----------------------------------------------------------------------------*/
@font-face {
  font-family:'Decovar Regular24'; 
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Decovar-VF.ttf');
}
body{
    background-color: rgba(160, 160, 160, 0.1);
}
.logo_text {
  margin: 0;
  font-family: "Decovar Regular24"; 
  font-size: 4rem;
  color: rgb(255, 255, 255); 
  font-variation-settings: 'SSTR' 1000;
  animation: loadin 4s infinite linear;
}

@keyframes loadin {
  0% {
    font-variation-settings: 'SSTR' 1000;
  }
  50% {
    font-variation-settings: 'SSTR' 0;
  }
}
.logo_text{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    transform: translateZ(0);
    backface-visibility: hidden;
    text-shadow: 
    -1px -1px 0 rgba(255, 255, 255, .7),
    1px -1px 0 rgba(255, 255, 255, .7), 
    -1px 1px 0 rgba(255, 255, 255, .7), 
    1px 1px 0 rgba(255, 255, 255, .7), 
    -1px 2px 1px rgba(160, 160, 160, .7),
    -2px 4px 2px rgba(160, 160, 160, .7),
    -3px 6px 3px rgba(160, 160, 160, .6),
    -4px 8px 4px rgba(160, 160, 160, .5),
    -5px 10px 5px rgba(160, 160, 160, .4),
    -6px 12px 6px rgba(160, 160, 160, .3);
}
